body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar start  */

nav{
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px 0;
    border-bottom: 1px solid white;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    /* border: 1px solid green; */
    transition: 0.5s all;
}
nav a:hover{
    background-color: orange;
}

/* Main box video */

.main-video-box  {
    width: 100%;
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.video-main{
    width: 100%;
    display: block;
   height: auto;
   object-fit: contain;
   opacity: 0.5;
   background-color: black;

    
}

@keyframes moveleftright{
    from{transform: translateX(-100%);}
    to{transform: translateX(100%);}
}


.video-content{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation-name: moveleftright;
    animation-duration: 1s;
}

.video-content p{
    color: gray;
    font-weight: 600;
}
.video-content span{
    color: white;
}
.video-content .ibrar{
    color: orange;
}

@keyframes moveleftright{
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
    /* from{background-color: red;}
    to{background-color: yellow;} */
}


/* About Section */

.about{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.about .about-picture{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     transition: all 1s;
}
.about .about-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 7px 20px;
    border: 1px solid orange;
    transition: all 1s;
}
.about a:hover{
    background-color: orange;
    color: black;
}
.about .about-content h2{
    color: orange;
}

.about .about-picture img{
    display: block;
    width: 70%;
    border-radius: 10px;
   
}
.about .about-picture:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* about section ends here  */


/* Skills section start from here  */

.skills{
    display: flex;
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
}
.skills img{
    width: 100%;
    display: block;
    background-size: cover;
    height: 50%;
     transition: all 1s;
    
}

.skills-box{
    padding: 5px 10px;
    border: 1px solid orange;
    width: 30%;
   
}

.skills-box img:hover{
    transform: scale(1.1);
}


/* Contact Section Start */


.contact{
   display: flex;
   margin-top: 30px;
}
.contact-form{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form form {
    width: 80%;
}
.contact .contact-form label {
    padding: 5px 0%;
    display: block;
    width: 100%;
    transition: all 1s;
}
.contact .contact-form .label{
    background-color: rgb(17, 17, 17);
    display: block;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0;
}

.contact .contact-form .label:focus{
    border: 1px solid orange;
}

.contact .contact-form input{
    width: 100%;
    background-color: rgb(17, 17, 17);
   border: none;
    outline: none;
    padding: 7px 0;
}
.contact .contact-form input:focus{
    outline: orange;
    border: 1px solid orange;
}
.contact-img{
    width: 49%;
    text-align: center;
   
}
.contact-img img{
    width: 80%;
    border-radius: 20px;
     transition: all 1s;
}
.contact-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.contact button{
    margin-top: 10px;
    padding: 7px 30px;
    transition: all 1s;
    border: none;
    outline: none;
}

.contact button:hover{
    background-color: orange;
    color: black;
    
    outline: none;
    border: none;
}

footer{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid orange;
    margin-top: 30px;
}

footer div{
    width: 50%;
    text-align: center;
    color: orange;
}